body{
  margin: 0 auto;
}
/*---INICI---*/
.fons{
  /*
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-45%,-45%);
  width: 100vh;
  height: 100vh;*/
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%,-45%);
  animation: fons 4s;
}

@keyframes fons {
  from { opacity: 0%;}
    to { opacity: 100%;}
}
  .carrega{
  width: 100%;
  height: 100vh;
  background: #000033;
  margin: 0 auto;
}

.logo{
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-45%,-45%);
  width: 22vh;
  height: 22vh;
  animation: loader 3s;
}

@keyframes loader {
  from { width: 10em; opacity: 0%;}
    to { width: 15em; opacity: 100%;}
}

.buttons {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons div {
  border-radius: 25px;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;

}

.iniciar1 {
  width: 15rem;
  margin: 0 auto;
  position: absolute;
  bottom: 22rem;
  left: -3vh;
}

.reg2 {
  width: 15rem;
  margin: 0 auto;
  position: absolute;
  bottom: 17rem;
  left: -3vh;
}

/*---INICIAR---*/

.carrega_careg{
  width: 100%;
  height: 100vh;
  background: #000033;
  margin: 0 auto;

}

.logo_logo{
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%,-50%);
  width: 15vh;
  height: 15vh;
}

.fons_fons{
  width: 103vh;
  height: 103vh;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-45%,-45%);

}

input[type=text] {
  height: 3rem;
  width: 20rem;
  border-radius: 20rem;
  background-color: #B3D7D0;
  opacity: 50%;
  color: white;
  position: relative;
  bottom: 31rem;
  left: 15%;
  font-family: lemon milk;
  font-size: 1.7rem;

}

input[type=password] {
  height: 3rem;
  width: 20rem;
  border-radius: 20rem;
  background-color: #FF6EFF;
  opacity: 50%;
  color: white;
  position: relative;
  bottom: 35rem;
  left: 15%;
  font-family: lemon milk;
  font-size: 1.7rem;
  margin-top: 1rem;
}

h2{
  color:white;
}

.iniciar1_2{
  width: 11rem;
  margin: 0 auto;
  position: absolute;
  bottom: 31.5rem;
  left: 6vh;
  cursor: pointer;
}

.iniciar1_2:hover {
  background-image: url(img/iniciar2.svg);
}



@media screen and (min-width: 1280px)
{
    .iniciar1 {
      width: 15rem;
      margin: 0 auto;
      position: absolute;
      bottom: 22rem;
      left: 32vh;
    }

    .reg2 {
      width: 15rem;
      margin: 0 auto;
      position: absolute;
      bottom: 17rem;
      left: 32vh;
    }

    input[type=text] {
      height: 1.5rem;
      width: 20rem;
      border-radius: 20rem;
      background-color: #B3D7D0;
      opacity: 50%;
      color: white;
      position: relative;
      bottom: 35vh;
      left: 78vh;
      font-family: lemon milk;
      font-size: 1.7rem;
      padding-top: 2vh;
    }

    input[type=password] {
      height: 3rem;
      width: 20rem;
      border-radius: 20rem;
      background-color: #FF6EFF;
      opacity: 50%;
      color: white;
      position: relative;
      bottom: 40vh;
      left: 78vh;
      font-family: lemon milk;
      font-size: 1.7rem;

    }

    #iniciar1_2{
      width: 11rem;
      margin: 0 auto;
      position: absolute;
      bottom: 31.5rem;
      left: 79vh;
    }
}
