body{
  margin: 0 auto;
  margin: 0vh;
  margin-bottom: 0 auto;


}
/*---INICI---*/
.fons{
  /*
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-45%,-45%);
  width: 100vh;
  height: 100vh;*/
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 39%;
  transform: translate(-45%,-45%);
  animation: fons 4s;
}

@keyframes fons {
  from { opacity: 0%;}
    to { opacity: 100%;}
}
  .carrega{
  width: 100%;
  height: 100vh;
  background: #000033;
  margin: 0 auto;
}

.logo{
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-45%,-45%);
  width: 22vh;
  height: 22vh;
  animation: loader 3s;
}

@keyframes loader {
  from { width: 10em; opacity: 0%;}
    to { width: 15em; opacity: 100%;}
}

.buttons {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons div {
  border-radius: 25px;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
}

.iniciar2_1{
  width: 13rem;
  margin: 0 auto;
  position: absolute;
  bottom: 20vh;
  left: 0%;
}

.reg1_1{
  width: 13rem;
  margin: 0 auto;
  position: absolute;
  bottom: 27vh;
  left: 0%;
}

/*---INICIAR---*/

.carrega_careg{
  width: 100%;
  height: 100vh;
  background: #000033;
  margin: 0 auto;
}

.logo_logo{
  width: 15vh;
  height: 15vh;
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%,-50%);
}

.fons_fons{
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0%;
  left: -56%;
}

input[type=text] {
  height: 3rem;
  width: 20rem;
  border-radius: 20rem;
  background-color: #B3D7D0;
  opacity: 50%;
  position: relative;
  bottom: 21rem;
  left: 15%;
  font-family: lemon milk;
  font-size: 1.7rem;
  text-align: center;
}

input[type=password] {
  height: 3rem;
  width: 20rem;
  border-radius: 20rem;
  background-color: #FF6EFF;
  opacity: 50%;
  position: relative;
  bottom: 21rem;
  left: 15%;
  font-family: lemon milk;
  font-size: 1.7rem;
  margin-top: 1rem;
  text-align: center;
}

h2{
  color:white;
}

.iniciar2{
  width: 11rem;
  margin: 0 auto;
  position: absolute;
  bottom: 22rem;
  left: 47%;
  opacity: 90%;
  cursor: pointer;
}

.reg2{
  width: 11rem;
  margin: 0 auto;
  position: absolute;
  bottom: 22rem;
  left: 15%;
  cursor: pointer;
}

input::placeholder{
  color: #000033;
  opacity: 100%;
}

.acceptar_1{
  width: 8rem;
  margin: 0 auto;
  position: absolute;
  bottom: 8.5rem;
  left: 60%;
  opacity: 90%;
  cursor: pointer;
}

@media (min-width: 1280px){
  body{
    margin-bottom: 0 auto;
  }
/*---INICI---*/
  .fons{
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%,-45%);
    animation: fons 4s;
  }

  .iniciar2_1{
    width: 13rem;
    margin: 0 auto;
    position: absolute;
    bottom: 20vh;
    left: 34%;
  }

  .reg1_1{
    width: 13rem;
    margin: 0 auto;
    position: absolute;
    bottom: 27vh;
    left: 34%;
  }

/*---INICI---*/
  .fons_fons{
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0%;
    left: 23%;
  }

    .logo_logo{
      position: absolute;
      top: 45%;
      left: 46%;
      transform: translate(-50%,-50%);
      width: 15vh;
      height: 15vh;
    }

    .iniciar2 {
      width: 11rem;
      margin: 0 auto;
      position: absolute;
      bottom: 22rem;
      left: 46%;
    }

    .reg2 {
      width: 11rem;
      margin: 0 auto;
      position: absolute;
      bottom: 22rem;
      left: 38.5%;
    }

    input[type=text] {
      height: 1.5rem;
      width: 20rem;
      border-radius: 20rem;
      background-color: #B3D7D0;
      opacity: 50%;
      color: white;
      position: relative;
      bottom: 35vh;
      left: 38.5%;
      font-family: lemon milk;
      font-size: 1.5rem;
      padding-top: 2vh;
    }

    input[type=password] {
      height: 3rem;
      width: 20rem;
      border-radius: 20rem;
      background-color: #FF6EFF;
      opacity: 50%;
      color: white;
      position: relative;
      bottom: 29vh;
      left: 21.5%;
      font-family: lemon milk;
      font-size: 1.5rem;

    }

    input::placeholder{
      opacity: 100%;
    }

    .acceptar_1{
      width: 8rem;
      margin: 0 auto;
      position: absolute;
      bottom: 9rem;
      left: 49%;
      opacity: 90%;
      cursor: pointer;
    }


}
