div{
  width: 800px;
  height: 800px;
  background-color: #BDB78B;
  margin: 0 auto;
  padding: 20px;
  /* RECTANGLE AMB RODONA DINS--background-image: radial-gradient(turquoise 0%, turquoise 50%, teal 50%, teal 50%);*/
  /* DOS COLORS EN UN DIV--background-image: linear-gradient(90deg, turquoise 0%, turquoise 50%, teal 50%,  teal 50%);*/
  /*borer-radous:*/
}

p{
  height: 100px;
  width: 100px;
  margin: 0;
  float: left;

}

.imparell{
  background-color: black;
}

.parell{
  background-color: white;
}

b{
  display: block;
  width: 80px;
  height: 80px;
  background-color: white;
  background-image: radial-gradient(white,black);
  background-size: 200% 200%;
  background-position: -50px -50px;
  border-radius: 50%;
  margin: 10px;
}

b:hover{
  position: relative;
  top: 100px;
}

.imparell b{
  background-image: radial-gradient(gold, black);
}

.imparell:nth-child(2n) b{
  background-image: radial-gradient(lightseagreen, black);
}
/*PSEUDO-CLASSES
Etiquetes -> elements genèrics  p.ex <div>
Classes -> elements classificats en subgrups p.ex .imparell
ID -> elements identificats de forma única p.ex #reiblanc

Pseudo-classes -> estats dels elements p.ex
:hover -> Quan passem per sobre
:visited -> Quan l'hem visitat
:active -> Quan estem fent click
:focus -> Quan està sel·leccionat
:checked -> Quan en una casella cliquem i posem el tic.

:fisrt-child -> primer elements
:last-child -> últim element
:nth-child -> element n (n=1/n=2/n=3 … n=∞)

el 2n+1 és la seqüencia del 2n però mogut un cap endavant.
el 2n-1 és la seqüencia del 2n però mogut un punt cap endarrere.

b:nth-child(4)
*/
