/*Ni idea de fer la */
/*https://www.youtube.com/watch?v=9Yk_bR0cFOc*/
/*https://www.youtube.com/watch?v=AixAmLWzXYg*/
/*https://www.youtube.com/watch?v=gNz-TZIuNwo*/
body{
background-color: tan;
}

.cara{
  height: 750px;
  width: 600px;
  background-color: seashell;
  border-radius: 0rem 0rem 20rem 20rem;
  box-shadow: 1rem 10rem 0rem 0rem saddlebrown;
  margin: 0 auto;
  position: relative;
  top: 10rem;

}

.cara .cabell{
  height: 250px;
  width: 680px;
  background-color: chocolate;
  border-radius: 200rem 200rem 10rem 10rem;
  float: left;
  position: relative;
  top: -7rem;
  left: -2.2rem;
}

.cara .cabl{
  height: 20rem;
  width: 0;
  background-color: transparent;
  border-left: solid transparent 10rem;
  border-right: solid transparent 10rem;
  border-bottom: solid chocolate 54rem;
  border-top: solid transparent 10rem;
  float: left;
  position: relative;
  left: -10.9rem;
  top: -44rem;
}

.cabr{
  height: 20rem;
  width: 0;
  background-color: transparent;
  border-left: solid transparent 10rem;
  border-right: solid transparent 10rem;
  border-bottom: solid chocolate 54rem;
  border-top: solid transparent 10rem;
  float: right;
  position: relative;
  right: -11.8rem;
  top: -127rem;
}

.cabl2{
height: 15rem;
width: 40rem;
background-image: linear-gradient(to right, chocolate , chocolate, goldenrod);
border-radius: 0rem 50rem;
float: left;
position: relative;
top: -177rem;
left: -16rem;
transform: rotate(100deg);
}

.lloc1{
height: 6rem;
width: 6rem;
background-color: seashell;
box-shadow: -0.1rem -0.8rem 0.3rem sienna;
border-radius: 30rem;
float: right;
position: relative;
top: -192.5rem;
right: 19rem;
}


.cabr2{
height: 15rem;
width: 40rem;
background-image: linear-gradient(to right, chocolate , chocolate, goldenrod);
border-radius: 50rem 0rem;
float: left;
position: relative;
top: -197rem;
right: -14.5rem;
transform: rotate(80deg);
}

.lloc2{
height: 6rem;
width: 6rem;
background-color: seashell;
box-shadow: -0.1rem -0.8rem 0.3rem sienna;
border-radius: 30rem;
float: right;
position: relative;
top: -214rem;
right: 11.8rem;
}

.celles1{
  height: 1.7rem;
  width: 6rem;
  background-image: linear-gradient(to right, saddlebrown, seashell);
  border-radius: 0 5rem 5rem 0;
  float: left;
  position: relative;
  top: -205rem;
  left: 11.4rem;
  transform: rotate(10deg);
}

.celles2{
  height: 1.7rem;
  width: 6rem;
  background-image: linear-gradient(to right, seashell, saddlebrown);
  border-radius: 5rem 0 0 5rem;
  float: right;
  position: relative;
  top: -205rem;
  right: 4.5rem;
  transform: rotate(-10deg);
}

.entra{
  height: 2rem;
  width: 10rem;
  float: left;
  background-color: seashell;
  position: relative;
  top: -222rem;
  left: 8rem;
}

.ulls{
  height: 60px;
  width: 600px;
  background-color: transparent;
  float: left;
  position: relative;
  left: 1rem;
  top: -208rem;
  overflow: hidden;
  cursor: pointer;
}

.ullsl{
  height: 60px;
  width: 70px;
  background-color: white;
  box-shadow: -0.2rem -0.6rem 0 0.3rem black;
  float: left;
  border-radius: 0 5rem;
  transform: rotate(-34deg);
  position: relative;
  left: 9.2rem;
  top: 0.5rem;
  overflow: hidden;
}

/*.parpadoleft{
  height: 60px;
  width: 70px;
  background-color: tan;
  border-radius: 0 5rem;
  transform: rotate(-34deg);
  position: relative;
  left: 9.2rem;
  top: -1rem;
  overflow: hidden;
}

.parpadoleft span{
  display: block;
  width: 100%;
  height: 15%;
  background: tan;
  border-radius: 0 0 60% 60%;
  transition: 0.4s all;
}*/

/*.ullsl:hover{
  transform: rotateX(50deg);
  cursor: pointer;
}*/

.ullsr{
  height: 60px;
  width: 65px;
  background-color: white;
  box-shadow: 0.7rem 0.17rem 0 0.3rem black;
  float: left;
  border-radius: 0 5rem;
  transform: rotate(-45deg);
  position: relative;
  right: -17.5rem;
  top: -0.0010rem;
  overflow: hidden;
}

.colorl{
  height: 2.5rem;
  width: 2.5rem;
  background: radial-gradient(black, peru);
  float: left;
  border-radius: 50rem;
  position: relative;
  left: 1.2rem;
  top: 7px;
  overflow: hidden;
}

.pupilal{
  height: 1.2rem;
  width: 1.2rem;
  background: black;
  float: right;
  border-radius: 50rem;
  position: relative;
  left: -0.75rem;
  margin-top: 0.6rem;
}


/*.colorr:hover{
  height: 2.5rem;
  width: 2.5rem;
  background: radial-gradient(yellow, gold);
  float: right;
  border-radius: 50rem;
  position: relative;
  right: 0.5rem;
  top: 10px;
  overflow: hidden;
}*/

.colorr{
  height: 2.5rem;
  width: 2.5rem;
  background: radial-gradient(black, peru);
  float: right;
  border-radius: 50rem;
  position: relative;
  right: 0.5rem;
  top: 10px;
  overflow: hidden;
}

.pupilar{
  height: 1.2rem;
  width: 1.2rem;
  background: black;
  float: right;
  border-radius: 50rem;
  position: relative;
  right: 0.7rem;
  top: 0.7rem;
}



.blancl{
  height: 0.8rem;
  width: 0.8rem;
  background: white;
  float: right;
  border-radius: 50rem;
  position: relative;
  left: -0.1rem;
  top: 0.01rem;
}


.blancr{
  height: 0.8rem;
  width: 0.8rem;
  background: white;
  float: right;
  border-radius: 50rem;
  position: relative;
  right: -0.2rem;
  top: -0.1rem;
}

.nas{
  height: 11rem;
  width: 5rem;
  background-color: seashell;
  position: absolute;
  float: left;
  top: 20rem;
  left: 16.5rem;
}

.nasmig{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50rem;
  background-color: seashell;
  box-shadow: -0.2rem 0.5rem 0.5rem antiquewhite;
  float: left;
  position: absolute;
  top: 9.5rem;
  left: 1.3rem;
}

.nasl{
  height: 2rem;
  width: 2rem;
  border-radius: 50rem;
  background-color: seashell;
  box-shadow: -0.5rem 0.2rem 0.1rem antiquewhite;
  float: left;
  position: absolute;
  top: 9.2rem;
  left: -0.01rem;
}

.nasr{
  height: 2rem;
  width: 2rem;
  border-radius: 50rem;
  background-color: seashell;
  box-shadow: 0.5rem 0.1rem 0.1rem antiquewhite;
  float: right;
  position: absolute;
  top: 9.2rem;
  right: -0.01rem;
}

.costatnasl{
  height: 6rem;
  width: 2rem;
  border-radius: 0 5rem;
  background-color: seashell;
  box-shadow: 0.5rem 0.1rem 0.1rem antiquewhite;
  float: left;
  position: absolute;
  top: 18rem;
  left: 15rem;
}

.costatnasr{
  height: 5rem;
  width: 2rem;
  border-radius: 5rem 0;
  background-color: seashell;
  box-shadow: -0.5rem 0.1rem 0.5rem antiquewhite;
  float: right;
  position: absolute;
  top: 18rem;
  right: 15rem;
}


.coll{
  height: 480px;
  width: 320px;
  background-color: seashell;
  border-radius: 0rem 0rem 20rem 20rem;
  float: right;
  position: relative;
  top: -195rem;
  left: -8.5rem;
}


.cami{
  height: 20rem;
  width: 65rem;
  background: radial-gradient(teal, lightseagreen, tan);
  float: right;
  border-radius: 15rem 15rem 0 0;
  float: left;
  display: block;
  position: absolute;
  top: 53rem;
  left: -13rem;
}

.llavis{
  height: 4rem;
  width: 6rem;
  background-color: transparnet;
  float: left;
  position: relative;
  top: -192rem;
  left: 14.2rem;
}

.rodo{
  height: 1.1rem;
  width: 1.1rem;
  background: seashell;
  border-radius: 50rem;
  box-shadow: 0 0.8rem 0.9rem firebrick;
  float: right;
  position: relative;
  top: -7.4rem;
  right: 4.7rem;
}

.tril{
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: solid transparent 1.5rem;
  border-right: solid transparent 1.5rem;
  border-bottom: solid lightcoral 1.5rem;
  border-left: solid transparent 1.5rem;
  border-radius: 5rem 5rem 0 0;
  float: left;
  position: relative;
  top: -2.7rem;
  left: 2.5rem;
  transform: rotate(0deg);
}

.trir{
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: solid transparent 1.5rem;
  border-right: solid transparent 1.5rem;
  border-bottom: solid lightcoral 1.5rem;
  border-left: solid transparent 1.5rem;
  float: left;
  position: relative;
  top: -2.7rem;
  left: 1rem;
  transform: rotate(0deg);
}

.llavsup{
  height: 0.2rem;
  width: 10rem;
  background-color: transparent;
  border-radius: 5rem;
  float: left;
  position: relative;
  top: -0.5rem;
  left: 0rem;
}

.vola1{
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: solid transparent 1.3rem;
    border-right: solid transparent 4.7rem;
    border-bottom: solid lightcoral 1.3rem;
    border-left: solid transparent 4.7rem;
    border-radius: 10%;
    float: left;
    position: relative;
    top: -5.4rem;
    left: 0.2rem;
    transform: rotate(0deg);
}

.llavinf{
clip-path: polygon(0 0, 100% 0, 84% 12%, 15% 11%);
  background-color: transpranet;
  border-radius: 5rem;
  float: left;
  position: relative;
  top: -0.5rem;
  left: 0rem;
}

.vola2{
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: solid lightcoral 1rem;
  border-right: solid transparent 4.9rem;
  border-bottom: solid transparent 1rem;
  border-left: solid transparent 4.9rem;
  border-radius: 50rem;
  float: left;
  position: relative;
  top: -0.8rem;
  left: 0.1rem;
  transform: rotate(0deg);
}


/*.gafas{
height: 10rem;
width: 30rem;
background-color: transparent;
border-radius: 0%;
float: left;
position: relative;
top: -245rem;
left: 5rem;
}

.mon1{
height: 10rem;
width: 10rem;
clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
background-image: linear-gradient(tan, gold);
border-radius: 50%;
float: left;
position: relative;
top: 0.5rem;
left: 2rem;

}

.mon2{
height: 10rem;
width: 10rem;
clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
background-image: linear-gradient(tan, gold);
border-radius: 50%;
float: right;
position: relative;
top: 0.5rem;
right: 5rem;
}
*/
.papada{
  height: 45rem;
  width: 45rem;
  background-color: transparent;
  box-shadow: 0.6rem 20rem 15rem -15rem saddlebrown;
  border-radius: 50%;
  float: left;
  position: relative;
  top:-258rem;
  left: -3.9rem;
}
