html {
  font-size: 100%;
}

body{
  background-color:ivorys;
  margin:0;
  font-family: Futura;
}

div{
  background-color: green;
  height: -3.125rem;
  background-repeat: no-repeat;
  background-position: 25rem;
}

li{
  display: inline-block;
  height: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0;
  line-height: 2.2rem;
  font-family: Lemon Milk;
  font-size: 0.90rem;
  border-radius: 50px;

}

img{
  margin: 0.5rem 0 0.125rem 0.35rem;
  float: left;
}


ul{
  margin: -2.1875 0 0 10.625rem;
}

li:hover{
  background-color: darkgreen;
  color: gold;
  border: solid 4.1px gold;
  padding: 5px 10px 5px 10px;
  box-shadow: 0.0625rem 0.0625rem 1.25rem gold;
}

h1, p{
  width: 21.375rem;
  padding: 1.5625rem;

}

h1{
  font-family: Lemon Milk;
  margin: 0;
  font-size: 1.9rem;
  text-align: center;
}

p{
  padding: 0 1.5625rem;
  margin: 0;
  font-family: Vice City Sans;
  text-align: justify;
  font-size: 1.1rem;
}


a{
  text-decoration: none;
  color: black;

}


#primera{
  height: 3.1rem;
  display: block;
}

#segona{
  height: 34.375rem;
  background-image:url(img/img-hero-full-list.png);


}

#tercera{
  height: 40.0625rem;
  background-image: url(img/allinone.jpg);


}

#quarta{
  height: 31.25rem;
  background-image: url(img/curator-short.png);
  color: white;

}

#cinquena{
  height: 34.375rem;
  background-image: url(img/img-hero-full-list.png);
}

#sisena{
  height: 32.8125rem;
  background-image: url(img/mobile-share.png);
}

#setena{
  height: 40.1875rem;
  background-image: url(img/anywhere.png);
}

#vuitena{
  height: 12.5rem;
  text-align: center;
  padding: 10px 15px 1px 750px;

}

#boto{
  /*COLORS*/
  background-color: green;
  color: yellowgreen;
  /*MIDES*/
  height: 4.375rem;
  width: 4.375rem;
  /*POSICIONAMENT*/
  position: fixed;
  bottom: 3.125rem;
  right: 3.25rem;
  /*CAIXA*/
  border: solid 0.3125rem yellowgreen;
  border-radius: 3.125rem;
  box-shadow: 0.0625rem 0.0625rem 1.25rem green;
  /*TEXT*/
  text-align: center;
  line-height: 5.625rem;
  font-size: 3.75rem;

  /* background-image: url(img/allinone.jpg);
  background-position: -200px 30px;
  background-size: 80px;
  opacity: 0.5;*/
  }

  #boto:hover{
    background-color: darkgreen;
    color: gold;
    border: solid 0.3125rem gold;
    border-radius: 3.125rem;
    box-shadow: 0.0625rem 0.0625rem 1.25rem gold;
  }
.blanca{
  background-color: #FFF;
}

.verda{
  background-color: #6C3;

}

.fosca{
  background-color: #333;

}

.clara{
background-color: #EEECEE;
}


/* -------DISSENY MÒBIL -------*/
@media screen and (max-width: 960px){


    div{
      background-image: url();

    }


    li{

      display: inline-block;
      background-color: #6C3;
      color: black;
      height: 25px;
      width: 250px;
      padding: 5px;
      margin: 5px 50px 5px 100px;

      border: solid  #6C3;
      border-radius: 50px;
      text-align: center;
      line-height: 25px;
    }

    li:hover{
      background-color: darkgreen;
      color: gold;
      padding: 1px 5px 1px 5px;
      margin: 5px 50px 5px 100px;
      border: solid 4.1px gold;
      border-radius: 50px;
      line-height: 25px;
    }


    a{
      text-decoration: none;
      color: black;
      width: 25px;
      height: 35px;
    }

    img{
      padding: -5px;
      float: left;
    }

    #primera{
      display: block;
      padding-top: 60px;
      margin-left: -100px;
      height: 300px;
    }


    #segona{
      width: 400px;
      height: 400px;
      display: inline-block;
      background-image:url(img/img-hero-full-list.png);
    }

        #tercera{
      height: 40.0625rem;
      background-image: url(img/allinone.jpg);
    }

    #quarta{
      height: 31.25rem;
      background-image: url(img/curator-short.png);
    }

    #cinquena{
      height: 34.375rem;
      background-image: url(img/img-hero-full-list.png);
    }

    #sisena{
      height: 32.8125rem;
      background-image: url(img/mobile-share.png);
    }

    #setena{
      height: 40.1875rem;
      background-image: url(img/anywhere.png);
    }

    #vuitena{
      padding: 50px 75px 0 250px;
      height: 12.5rem;
      text-align: center;
    }

    .blanca{
      background-color: #FFF;

    }

}

/*-------DISSENY PER IMPRIMIR------*/

@media print {
  body{
    width: 210mm;
    height: 297mm
    background-color: teal;
  }

  div{
    width: 95mm;
    display: block;
    padding: 20px;
  }

  h1{
    display: inline-block;
  }
  #primera{

  }
  #segona{
    height: 150px;
    width: 150px;
    display: block;
    background-color: yellowgreen;
    color: red;
  }

  #tercera{
    height: 150px;
    width: 150px;
    background-color: yellowgreen;
  }
  #quarta{
    height: 150px;
    width: 150px;
    background-color: yellowgreen;
  }
  #cinquena{
    background-color: yellowgreen;
  }
  #sisena{
    background-color: yellowgreen;
  }
  #setena{
    background-color: yellowgreen;
  }

  #vuitena {
    display: none;
    background-color: yellowgreen;
  }

  #boto{
    display: none;
    background-color: yellowgreen;
  }


}
